<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

<title>PRINCIPAL</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Trucking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } 


</script>


<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/bootstrap.css}" th:rel="stylesheet"
	type="text/css" media="all" />

<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link th:href="@{/css/style.css}" th:rel="stylesheet" type="text/css"
	media="all" />

<link rel="stylesheet" href="css/mainStyles.css" />
<link th:rel="stylesheet" th:href="@{/css/mainStyles.css}" />

<link rel='stylesheet' href='css/dscountdown.css' type='text/css'
	media='all' />
<link th:rel='stylesheet' th:href='@{/css/dscountdown.css}'
	type='text/css' media='all' />
<!-- DEL PROFE -->

<!-- DEL PROFE -->
<!-- gallery -->
<link href="css/lsb.css" rel="stylesheet" type="text/css">
<link th:href="@{/css/lsb.css}" th:rel="stylesheet" type="text/css">
<!-- //gallery -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<link th:href="@{/css/font-awesome.css}" th:rel="stylesheet">

<link
	href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
	rel="stylesheet">
<link
	th:href="@{//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i}"
	th:rel="stylesheet">

<link
	href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	th:href="@{//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i}"
	th:rel="stylesheet">


<!-- FORMULARIO -->
<link href="vendor/mdi-font/css/material-design-iconic-font.min.css"
	rel="stylesheet" media="all">
<link
	th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}"
	th:rel="stylesheet" media="all">

<link href="vendor/font-awesome-4.7/css/font-awesome.min.css"
	rel="stylesheet" media="all">
<link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}"
	th:rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	th:href="@{https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i}"
	th:rel="stylesheet">
<!-- Vendor CSS-->
<link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link th:href="@{/vendor/select2/select2.min.css}" th:rel="stylesheet"
	media="all">

<link href="vendor/datepicker/daterangepicker.css" rel="stylesheet"
	media="all">
<link th:href="@{/vendor/datepicker/daterangepicker.css}"
	th:rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="css/main.css" rel="stylesheet" media="all">
<link th:rel="stylesheet" th:href="@{/css/main.css}" media="all" />
<!-- FORMULARIO -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<!-- //js -->

<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
</head>
<body>
	<!-- banner -->
	<div class="header">

		<div class="w3layouts_header_right">
			<div class="detail-w3l">
				<ul>
					 <li><a ><i class="fa fa-user-circle-o" aria-hidden="true"></i>
					 <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
					 </a>
					 </li>
				</ul>
			</div>

		</div>
		<div class="w3layouts_header_left">
			<ul>
					<li><a href="#" th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a> 
			</ul>
		</div>
		<div class="agileits-social top_content">
			<ul>
				<li><a href="https://www.facebook.com/"><i
						class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
				<!-- <li><a href="#"><i class="fa fa-vk"></i></a></li> -->
			</ul>
		</div>

		<div class="clearfix"></div>
	</div>

	<div class="banner">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only"> </span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<h1>
					<a class="navbar-brand" href="/indexBD"><span><i
							class="fa fa-truck" aria-hidden="true"></i></span>TRUCKING</a>
				</h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right"
				id="bs-example-navbar-collapse-1">
				<nav class="link-effect-2" id="link-effect-2">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/indexBD"><span data-hover="PRINCIPAL">PRINCIPAL</span></a></li>
						<li><a href="/localidades/listar"><span data-hover="GESTION LOCALIDADES">GESTION LOCALIDADES</span></a></li>
						<li><a href="/usuarios/listar"><span data-hover="GESTION USUARIOS">GESTION USUARIOS</span></a></li>

						
					</ul>
				</nav>

			</div>

		</nav>
	</div>

	<!--  CONTENEDOR  -->

	<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
		<div class="wrapper wrapper--w780">
			<div class="tab-content">

<!-- 	<p th:text="${localidades}"></p> -->
<a class="btn btn-primary btn-sm" href="/localidades/crear" th:text="'Nueva Localidad'" title="Crear Nueva Localidad"></a>
				 <div class="card card-lista">
					 <div class="card-body">
						<h2 class="title" style="text-align: center">LOCALIDADES</h2>
						<table id="localidadLista" class="table">
							<thead class="thead-dark">

								<tr>
									<th scope="col">ID</th>
									<th scope="col">NOMBRE</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l : ${localidades}">
									<td scope="row" th:text="${l.id}"></td>
									<td scope="row" th:text="${l.nombreLocalidad}"></td>
							
									<td><center><a  th:href="@{/localidades/editar/} + ${l.id}"  title="Editar Localidad"> <i class="fa fa-edit"></i></a></center>
									
									<td><center><a  th:href="@{/localidades/eliminar/} + ${l.id}" title="Eliminar Localidad"
									onclick="return confirm('Está seguro que desea eliminar el Registro?')"><i class="fa fa-trash-o"></i></a></td></center>			
							</tbody>
						</table>
					</div> 
				</div> 
			</div>
		</div>

	</div>



	<!--  CONTENEDOR  -->



	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">LOGIN</h3>
						<div class="login-form">
							<form action="#" method="post">
								<input type="email" name="email" placeholder="Usuario">
								<input type="password" name="password" placeholder="Contraseña">
								<div class="tp">
									<input type="submit" value="INGRESAR">
								</div>
							</form>
						</div>
						<div class="login-social-grids">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->


	<!-- //bootstrap-pop-up -->



	<!-- //footer-contact -->
	<div class="footer-final">
		<div class="copyw3-agile">
			<div class="container">
				<p>
					PROYECTO TRACKING |<a href="http:/">| Programación Visual 2020</a>
				</p>
			</div>
		</div>
	</div>


	<script src="js/mainScript.js"></script>
	<script th:src="@{/js/mainScript.js}"></script>

	<script src="js/rgbSlide.min.js"></script>
	<script th:src="@{/js/rgbSlide.min.js}"></script>


	<!--team-->
	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems : 4,
				animationSpeed : 1000,
				autoPlay : true,
				autoPlaySpeed : 3000,
				pauseOnHover : true,
				enableResponsiveBreakpoints : true,
				responsiveBreakpoints : {
					portrait : {
						changePoint : 480,
						visibleItems : 1
					},
					landscape : {
						changePoint : 640,
						visibleItems : 2
					},
					tablet : {
						changePoint : 768,
						visibleItems : 3
					}
				}
			});

		});
	</script>
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	<script type="text/javascript" th:src="@{/js/jquery.flexisel.js}"></script>
	<!--team-->
	<!-- //here ends scrolling icon -->

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			 */
			$().UItoTop({
				easingType : 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span
		id="toTopHover" style="opacity: 1;"> </span></a>

	<script src="js/SmoothScroll.min.js"></script>
	<script th:src="@{/js/SmoothScroll.min.js}"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" th:src="@{/js/move-top.js}"></script>

	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}"></script>

	<script src="js/bootstrap.js"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<!-- //for bootstrap working -->

</body>
</html>